<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>voter_reg</servlet-name>
        <servlet-class>voter_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateRegisteration</servlet-name>
        <servlet-class>CandidateRegisteration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>candidate_reg</servlet-name>
        <servlet-class>candidate_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voter_show</servlet-name>
        <servlet-class>voter_show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_pass</servlet-name>
        <servlet-class>update_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voting</servlet-name>
        <servlet-class>voting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGIN</servlet-name>
        <servlet-class>LOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateShow</servlet-name>
        <servlet-class>CandidateShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterRegister</servlet-name>
        <servlet-class>VoterRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserValidation</servlet-name>
        <servlet-class>UserValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterValidation</servlet-name>
        <servlet-class>VoterValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterVerifaction</servlet-name>
        <servlet-class>VoterVerifaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclareResult</servlet-name>
        <servlet-class>DeclareResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetResult</servlet-name>
        <servlet-class>ResetResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumeVoting</servlet-name>
        <servlet-class>ResumeVoting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activation</servlet-name>
        <servlet-class>Activation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyPassword</servlet-name>
        <servlet-class>VerifyPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>UpdatePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>voter_reg</servlet-name>
        <url-pattern>/voter_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>candidate_reg</servlet-name>
        <url-pattern>/candidate_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voter_show</servlet-name>
        <url-pattern>/voter_show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_pass</servlet-name>
        <url-pattern>/update_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voting</servlet-name>
        <url-pattern>/voting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGIN</servlet-name>
        <url-pattern>/LOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateShow</servlet-name>
        <url-pattern>/CandidateShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterRegister</servlet-name>
        <url-pattern>/VoterRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserValidation</servlet-name>
        <url-pattern>/UserValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterValidation</servlet-name>
        <url-pattern>/VoterValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterVerifaction</servlet-name>
        <url-pattern>/VoterVerifaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclareResult</servlet-name>
        <url-pattern>/DeclareResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetResult</servlet-name>
        <url-pattern>/ResetResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumeVoting</servlet-name>
        <url-pattern>/ResumeVoting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateRegisteration</servlet-name>
        <url-pattern>/CandidateRegisteration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activation</servlet-name>
        <url-pattern>/Activation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyPassword</servlet-name>
        <url-pattern>/VerifyPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
